<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <!--<aop:config proxy-target-class="true">-->
        <!--<aop:pointcut id="controlWrapper"-->
                      <!--expression="@annotation(org.springframework.web.bind.annotation.ResponseBody)) and  (execution(* com.tqmall.alligator.web.*.*Controller.*(com.tqmall.alligator.biz.base.BaseParam+)))"/>-->
        <!--<aop:advisor advice-ref="serviceWrapper"-->
                     <!--pointcut-ref="controlWrapper"/>-->
    <!--</aop:config>-->
</beans>
