<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <!--<aop:config proxy-target-class="true">-->
        <!--<aop:pointcut id="controlWrapper"-->
                      <!--expression="@annotation(org.springframework.web.bind.annotation.ResponseBody)) and  (execution(* com.tqmall.alligator.web.*.*Controller.*(com.tqmall.alligator.biz.base.BaseParam+)))"/>-->
        <!--<aop:advisor advice-ref="serviceWrapper"-->
                     <!--pointcut-ref="controlWrapper"/>-->
    <!--</aop:config>-->

    <!--<bean id="playInterceptor1" class="com.zxd.task.interceptor.PlayInterceptor1"/>-->

    <!--<bean id="playPointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">-->
        <!--<property name="pattern" value=".*play"/>-->
    <!--</bean>-->

    <!--<bean id="playAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">-->
        <!--<property name="advice" ref="playInterceptor1"/>-->
        <!--<property name="pointcut" ref="playPointcut"/>-->
    <!--</bean>-->

    <!--<bean id="personProxy" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--<property name="target" ref="programDeveloper"/>-->
        <!--<property name="interceptorNames" value="playAdvisor" />-->
        <!--<property name="proxyInterfaces" value="com.zxd.task.service.Person" />-->
    <!--</bean>-->

    <!--<aop:aspectj-autoproxy/>-->
    <!--<bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>-->


    <!--<aop:config>-->
        <!--<aop:aspect ref="playInterceptor">-->
            <!--<aop:before method="beforePlay" pointcut="execution(* *.play(..))"/>-->
            <!--<aop:after method="afterPlay" pointcut="execution(* *.play(..))"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <bean id="playInterceptor3" class="com.zxd.task.interceptor.PlayInterceptor3"/>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="controlWrapper"
                      expression="execution(* com.zxd.task.interceptor..*.play(..)))"/>
        <aop:advisor advice-ref="playInterceptor3"
                     pointcut-ref="controlWrapper"/>
    </aop:config>
</beans>
